<mat-toolbar color="warn">
  <span class="mat-body-1">This is a raw debug view. Activity streams are in console (CTRL + F12)</span>
</mat-toolbar>
<mat-card *ngIf="syncedActivityModel">
  <mat-card-title>
    <button (click)="onBack()" color="primary" mat-icon-button>
      <mat-icon fontSet="material-icons-outlined">arrow_back</mat-icon>
    </button>
    {{syncedActivityModel.name}}
    <button (click)="openSourceActivity(syncedActivityModel.id)" color="primary" mat-stroked-button>
      Open source activity
    </button>
  </mat-card-title>
  <mat-card-subtitle>
    Date: {{syncedActivityModel.start_time}}
  </mat-card-subtitle>
  <mat-card-content>
    <div id="chartdiv" style="width: 100%; height: 500px"></div>
    <mat-form-field fxFill>
      <textarea class="mat-caption" disabled matInput rows="32">{{syncedActivityModel | json}}</textarea>
    </mat-form-field>
  </mat-card-content>
</mat-card>
