mat-divider {
  margin-top: 18px;
  margin-bottom: 18px;
}

a:focus {
  outline: none !important;
}

.links {
  margin-top: 25px;
  padding: 10px;
  button {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.space-under {
  margin-bottom: 10px;
}

.koyeb-icon {
  height: 24px;
}
