<div class="mat-h2">{{ 'about.title' | translate }}</div>
<mat-dialog-content class="mat-body-1">
  <div *ngIf="installedVersion" class="space-under">
    Version <strong>{{installedVersion}}</strong>&nbsp;/&nbsp;<span
    class="mat-caption"
    *ngIf="buildMetadata">Build {{buildMetadata.date + '.' + buildMetadata.commit.slice(0, 8)}}</span>
  </div>
  <mat-divider></mat-divider>
  <div *ngIf="appUsageDetails">
    {{ 'about.size' | translate }} <strong>{{appUsageDetails.megaBytesInUse.toFixed(2)}} MB</strong>.
  </div>
  <div *ngIf="!appUsageDetails">
    <strong>Calculating your profile size...</strong>
  </div>
  <mat-divider></mat-divider>
  <ng-container *ngIf="(buildTarget === BuildTarget.EXTENSION)">
    <div class="space-under">
      {{ 'about.made' | translate }} <a href="https://twitter.com/champagnethomas" target="_blank">Thomas Champagne</a>.
    </div>
    <div class="space-under">
      {{ 'about.project' | translate }} <a
      href="https://github.com/mozilla/foundation.mozilla.org/blob/master/LICENSE"
      target="_blank">Mozilla Public License 2.0</a>.
    </div>
    <div class="space-under">
      {{ 'about.text' | translate }}
    </div>
    <mat-divider></mat-divider>
  </ng-container>

  <ng-container *ngIf="(buildTarget === BuildTarget.DESKTOP)">
    <div class="space-under">
      {{ 'about.madeApp' | translate }} <a href="https://twitter.com/champagnethomas" target="_blank">Thomas Champagne</a>.
    </div>
    <div class="space-under">
      {{ 'about.project' | translate }} <a
      href="https://github.com/mozilla/foundation.mozilla.org/blob/master/LICENSE"
      target="_blank">Mozilla Public License 2.0</a>.
    </div>
    <mat-divider></mat-divider>
  </ng-container>

  <div class="links" fxLayout="row" fxLayoutAlign="center center">
    <button (click)="openSocial('https://twitter.com/champagnethomas')" mat-icon-button
            matTooltip="Stay tuned for updates on twitter">
      <mat-icon fontSet="material-icons-outlined" svgIcon="twitter"></mat-icon>
    </button>
    <button (click)="openSocial('https://github.com/thomaschampagne/elevate')" mat-icon-button
            matTooltip="View source code on github">
      <mat-icon fontSet="material-icons-outlined" svgIcon="github"></mat-icon>
    </button>
    <button (click)="openSocial('https://www.strava.com/clubs/elevatestrava')" mat-icon-button
            matTooltip="Join strava club">
      <mat-icon fontSet="material-icons-outlined" svgIcon="strava"></mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <span>
      <mat-icon fontSet="material-icons-outlined" [inline]="true">public</mat-icon>
      <a class="mat-caption" href="https://thomaschampagne.github.io/elevate/" target="_blank"
         style="margin-left: 2px;vertical-align: text-bottom;">thomaschampagne.github.io/elevate</a>
    </span>
  </div>
</mat-dialog-content>

