<div class="mat-h2">About</div>
<mat-dialog-content class="mat-body-1">
  <div *ngIf="remoteVersion">
    <div *ngIf="!updateAvailable" class="space-under">
      Version <strong>{{installedVersion}}</strong>&nbsp;/&nbsp;<span
      class="mat-caption">Build {{buildMetadata.date + '.' + buildMetadata.commit.slice(0, 8)}}</span>
    </div>
    <div class="warn-color" *ngIf="updateAvailable" class="space-under">
      New version <strong>{{remoteVersion}}</strong>
      available ➔ {{(buildTarget === BuildTarget.DESKTOP) ? 'Restarting app may trigger the update.' : 'Restarting browser may trigger the update.'}}
    </div>
  </div>
  <div *ngIf="!remoteVersion">
    <strong>Checking for an update...</strong>
  </div>
  <mat-divider></mat-divider>
  <div *ngIf="appUsageDetails">
    History size <strong>{{appUsageDetails.megaBytesInUse.toFixed(2)}} MB</strong>.
  </div>
  <div *ngIf="!appUsageDetails">
    <strong>Calculating your profile size...</strong>
  </div>
  <mat-divider></mat-divider>
  <ng-container *ngIf="(buildTarget === BuildTarget.EXTENSION)">
    <div class="space-under">
      Web extension made with ❤️ by <a href="https://twitter.com/champagnethomas" target="_blank">Thomas Champagne</a>.
    </div>
    <div class="space-under">
      Elevate is an open-source project under <a href="https://github.com/mozilla/foundation.mozilla.org/blob/master/LICENSE"
                                                         target="_blank">Mozilla Public License 2.0</a>.
    </div>
    <div class="space-under">
      This extension is adds some features that riders and runners would like to see in their Strava
      web. If these features could be added by default in Strava... It could be cool! Consider getting Strava Premium.
      There are a ton of features that you will love. Remember, this extension has for ambition to enhance the
      experience of all users (Free and Premium) and tends to keep users loyal in Strava.
    </div>
    <mat-divider></mat-divider>
  </ng-container>

  <ng-container *ngIf="(buildTarget === BuildTarget.DESKTOP)">
    <div class="space-under">
      Application made with ❤️ by <a href="https://twitter.com/champagnethomas" target="_blank">Thomas Champagne</a>.
    </div>
    <div class="space-under">
      Elevate is an open-source project under <a href="https://github.com/mozilla/foundation.mozilla.org/blob/master/LICENSE"
                                                         target="_blank">Mozilla Public License 2.0</a>.
    </div>
    <mat-divider></mat-divider>
  </ng-container>

  <div class="links" fxLayout="row" fxLayoutAlign="center center">
    <button (click)="openSocial('https://twitter.com/champagnethomas')" mat-icon-button
            matTooltip="Stay tuned for updates on twitter">
      <mat-icon fontSet="material-icons-outlined" svgIcon="twitter"></mat-icon>
    </button>
    <button (click)="openSocial('https://github.com/thomaschampagne/elevate')" mat-icon-button
            matTooltip="View source code on github">
      <mat-icon fontSet="material-icons-outlined" svgIcon="github"></mat-icon>
    </button>
    <button (click)="openSocial('https://www.strava.com/clubs/elevatestrava')" mat-icon-button
            matTooltip="Join strava club">
      <mat-icon fontSet="material-icons-outlined" svgIcon="strava"></mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <span>
      <mat-icon fontSet="material-icons-outlined" [inline]="true">public</mat-icon>
      <a class="mat-caption" href="https://thomaschampagne.github.io/elevate/" target="_blank"
         style="margin-left: 2px;vertical-align: text-bottom;">thomaschampagne.github.io/elevate</a>
    </span>
  </div>
</mat-dialog-content>

