<div layout="column" layout-align="center center" style="padding-top: 20%">
    <div flex>
        <md-input-container class="md-icon-float md-block">
            <label>Login</label>
            <input ng-model="login" type="text">
        </md-input-container>
    </div>
    <div flex>
        <md-input-container flex class="md-icon-float md-block">
            <label>Password</label>
            <input ng-model="password" type="password">
        </md-input-container>
    </div>
    <div flex>
        <md-button flex ng-click="logon()">
            Login
        </md-button>
    </div>

</div>