<style>
    table {
        width: 100%;
    }

    table th {
        text-align: left;
    }

    table td {
        height: 30px;
    }

    table .totals {
        /*font-style: italic;*/
        border-top: 1px dashed gray;
    }

    table .right {
        text-align: right;
    }

    .centered {
        position: fixed; /* or absolute */
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;
    }
</style>
<div ng-hide="ready">
    <md-progress-circular class="centered" md-mode="indeterminate"></md-progress-circular>
</div>
<div layout="column" layout-gt-sm="row" ng-show="ready">
    <div flex>
        <md-card>
            <md-card-title>
                <span class="md-headline">Versions</span>
            </md-card-title>
            <md-card-content layout="column">
                <div>
                    <canvas id="doughnut_version" class="chart chart-doughnut" height="250"
                            chart-data="countByVersionsData" chart-labels="countByVersionsLabels"
                            chart-options="chartOptions">
                    </canvas>
                </div>
                <div>
                    <table>
                        <tr>
                            <th>Version</th>
                            <th class="right">Count</th>
                            <th class="right">%</th>
                        </tr>
                        <tr ng-repeat="item in response.countByVersions | orderBy: 'lastSeenTime'">
                            <td>{{item.version}}</td>
                            <td class="right">{{item.count}}</td>
                            <td class="right">{{item.percent.toFixed(1)}}</td>
                        </tr>
                    </table>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <!--_________-->
    <div flex>
        <md-card>
            <md-card-title>
                <span class="md-headline">Users</span>
            </md-card-title>
            <md-card-content layout="column">
                <div>
                    <table>
                        <tr>
                            <th>Since</th>
                            <th class="right">Count</th>
                            <th class="right">%</th>
                        </tr>
                        <tr>
                            <td>24h</td>
                            <td class="right">{{response.countSince24h.count}}</td>
                            <td class="right">{{(response.countSince24h.count / response.totalCount * 100).toFixed(0)}}
                            </td>
                        </tr>
                        <tr>
                            <td>48h</td>
                            <td class="right">{{response.countSince48h.count}}</td>
                            <td class="right">{{(response.countSince48h.count / response.totalCount * 100).toFixed(0)}}
                            </td>
                        </tr>
                        <tr>
                            <td>7 days</td>
                            <td class="right">{{response.countSince7Days.count}}</td>
                            <td class="right">{{(response.countSince7Days.count / response.totalCount * 100).toFixed(0)}}
                            </td>
                        </tr>
                        <tr>
                            <td>30 days</td>
                            <td class="right">{{response.countSince30Days.count}}</td>
                            <td class="right">{{(response.countSince30Days.count / response.totalCount * 100).toFixed(0)}}
                            </td>
                        </tr>
                        <tr>
                            <td class="totals">Forever</td>
                            <td class="right totals">{{response.totalCount}}</td>
                            <td class="right totals">100</td>
                        </tr>
                    </table>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <!--_________-->
    <div flex>
        <md-card>
            <md-card-title>
                <span class="md-headline">Languages</span>
            </md-card-title>
            <md-card-content layout="column">
                <div width="250">
                    <canvas id="doughnut_country" class="chart chart-doughnut" height="250"
                            chart-data="countByCountryData" chart-labels="countByCountryLabels"
                            chart-options="chartOptions">
                    </canvas>
                </div>
                <div>
                    <table>
                        <tr>
                            <th>Language</th>
                            <th class="right">Count</th>
                            <th class="right">%</th>
                        </tr>
                        <tr ng-repeat="item in response.countByCountry | orderBy: '-count'">
                            <td>{{item.country}}</td>
                            <td class="right">{{item.count}}</td>
                            <td class="right">{{item.percent.toFixed(1)}}</td>
                        </tr>
                    </table>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div flex>
        <md-card>
            <md-card-title>
                <span class="md-headline">Pros ({{response.pros.length}})</span>
            </md-card-title>
            <md-card-content>
                <table>
                    <tr>
                        <th>Name</th>
                        <th class="right">Last seen</th>
                    </tr>
                    <tr ng-repeat="pro in pros | orderBy: '-lastSeen'">
                        <td>
                            <md-button ng-click="viewPro(pro.stravaId)">
                                {{pro.name}}
                            </md-button>
                        </td>
                        <td class="right">{{pro.lastSeen}}</td>
                    </tr>
                </table>
            </md-card-content>
        </md-card>
    </div>
</div>
<md-button ng-if="ready" class="md-primary" ng-click="logout()">Logout</md-button>
