# common
.idea/
*.git/
*/.gitignore
**/node_modules/
dist/
package/
chrome-win32/

# core
plugin/core/**/*.js
plugin/core/**/*.map

# Webapp
plugin/options/**/*.js
plugin/options/**/*.map

# specs
specs/**/*.js
specs/**/*.map