# common
.idea/
*.git/
*/.gitignore
**/node_modules/
dist/
package/
chrome-win32/
firefox-win32/

# Core karma testing
plugin/core/**/*.js
specs.log

!plugin/core/karma.conf.js
!plugin/core/core.webpack.config.js
browsers.karma.conf.js

# local workspace folders
.vscode/
.DS_Store
