# Templating
*.css
*.scss
*.html
*.svg

# Generated data
coverage
dist
node_modules

# OS/IDE
.vscode
.idea
.DS_Store

# Others
*.json
*.md
*.yml
*.log
.editorconfig
.prettierignore

# Project specific
athlete-access-checker.js
