<h2 mat-dialog-title>Click activity to open</h2>
<mat-dialog-content class="mat-body-1">
	<mat-nav-list>
		<mat-list-item *ngFor="let activityId of dayFitnessTrendModel.ids; let index = index;">
			<span matLine (click)="openActivity(activityId)"><span
				class="mat-body-1"><i>{{dayFitnessTrendModel.activitiesName[index]}}</i></span></span>
			<mat-divider *ngIf="index < (dayFitnessTrendModel.ids.length - 1)"></mat-divider>
		</mat-list-item>
	</mat-nav-list>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-stroked-button mat-dialog-close color="primary">Back</button>
	<span fxFlex="1"></span>
	<button mat-stroked-button (click)="openAllActivities()" color="primary">Open all</button>
</mat-dialog-actions>
