<md-toolbar id="tools_top" style="background-color: transparent;" ng-cloak>
    <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-icon-button" ng-click="setupStep($event)" aria-label="setup step">
            <md-icon style="color: grey;">line_weight</md-icon>
            <md-tooltip md-direction="bottom">
                Setup step
            </md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="addZone($event)" aria-label="add">
            <md-icon style="color: grey;">add</md-icon>
            <md-tooltip md-direction="bottom">
                Add a last zone
            </md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="removeZone($event)" aria-label="delete">
            <md-icon style="color: grey;">delete</md-icon>
            <md-tooltip md-direction="bottom">
                Remove current last zone
            </md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="saveZones($event)" aria-label="save">
            <md-icon style="color: grey;">save</md-icon>
            <md-tooltip md-direction="bottom">
                Save {{xtdDataSelected.name}} zones
            </md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="resetZone($event)" aria-label="reset">
            <md-icon style="color: grey;">refresh</md-icon>
            <md-tooltip md-direction="bottom">
                Reset {{xtdDataSelected.name}} zones to default.
            </md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="export($event)" aria-label="reset">
            <md-icon style="color: grey;">arrow_upwards</md-icon>
            <md-tooltip md-direction="bottom">
                Export {{xtdDataSelected.name}} zones
            </md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="import($event)" aria-label="reset">
            <md-icon style="color: grey;">arrow_downward</md-icon>
            <md-tooltip md-direction="bottom">
                Import {{xtdDataSelected.name}} zones
            </md-tooltip>
        </md-button>
    </div>
</md-toolbar>
<div ng-repeat="xtdZone in xtdZones" class="repeated-item">
    <div xtd-zone="xtdZone" zone-id="{{$index}}" previous-from="{{xtdZones[$index - 1].from}}" next-to="{{xtdZones[$index + 1].to}}" xtd-zone-first="{{$index == 0}}" xtd-zone-last="{{$index == (xtdZones.length - 1)}}" xtd-data-selected="xtdDataSelected"></div>
</div>
<md-toolbar id="tools_bottom" style="background-color: transparent;" ng-cloak>
    <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-icon-button" ng-click="setupStep($event)" aria-label="setup step">
            <md-icon style="color: grey;">line_weight</md-icon>
            <md-tooltip md-direction="top">
                Setup step
            </md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="addZone($event)" aria-label="add">
            <md-icon style="color: grey;">add</md-icon>
            <md-tooltip md-direction="top">
                Add a last zone
            </md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="removeZone($event)" aria-label="delete">
            <md-icon style="color: grey;">delete</md-icon>
            <md-tooltip md-direction="top">
                Remove current last zone
            </md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="saveZones($event)" aria-label="save">
            <md-icon style="color: grey;">save</md-icon>
            <md-tooltip md-direction="top">
                Save {{xtdDataSelected.name}} zones
            </md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="resetZone($event)" aria-label="reset">
            <md-icon style="color: grey;">refresh</md-icon>
            <md-tooltip md-direction="top">
                Reset {{xtdDataSelected.name}} zones to default.
            </md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="export($event)" aria-label="reset">
            <md-icon style="color: grey;">arrow_upwards</md-icon>
            <md-tooltip md-direction="top">
                Export {{xtdDataSelected.name}} zones
            </md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="import($event)" aria-label="reset">
            <md-icon style="color: grey;">arrow_downward</md-icon>
            <md-tooltip md-direction="top">
                Import {{xtdDataSelected.name}} zones
            </md-tooltip>
        </md-button>
    </div>
</md-toolbar>
