<div>
    <div data-ng-hide="true">
        <strong>Zones debug:</strong>
        <div>{{xtdZones | json}}</div>
    </div>
    <div class="hrZoneAddRemoveTop">
        Step
        <input class="form-control input-md" type="number" data-ng-model="xtdDataSelected.step" min="0" data-popover="Enter step for zone precision eg 0.1, 0.01, 0.001, 0.25, ..." style="width: 120px; display: inline;" />
        <button type="button" class="btn btn-primary zoneActionButton" data-ng-click="saveZones()">{{'settings/healthSettings/save_zone'| translationFilter}}</button>
        <button type="button" class="btn btn-success zoneActionButton" data-ng-click="addZone()">{{'settings/healthSettings/add_last_zone'| translationFilter}}</button>
        <button type="button" class="btn btn-danger zoneActionButton" data-ng-click="removeZone()">{{'settings/healthSettings/del_last_zone'| translationFilter}}</button>
        <button type="button" class="btn btn-warning zoneActionButton" data-ng-click="resetZone()">{{'settings/healthSettings/reset_zone'| translationFilter}}</button>
        <button type="button" class="btn btn-default zoneActionButton" data-ng-click="export()">{{'settings/zoneSettings/export_zone'| translationFilter}}</button>
        <button type="button" class="btn btn-default zoneActionButton" data-ng-click="import()">{{'settings/zoneSettings/import_zone'| translationFilter}}</button>
    </div>
    <div data-ng-repeat="xtdZone in xtdZones">
        <div data-xtd-zone="xtdZone" data-zone-id="{{$index}}" data-previous-from="{{xtdZones[$index - 1].from}}" data-next-to="{{xtdZones[$index + 1].to}}" data-xtd-zone-first="{{$index == 0}}" data-xtd-zone-last="{{$index == (xtdZones.length - 1)}}" data-xtd-data-selected="xtdDataSelected"></div>
    </div>
    <div class="hrZoneAddRemoveBottom">
        Step
        <input class="form-control input-md" type="number" data-ng-model="xtdDataSelected.step" min="0" data-popover="Enter step for zone precision eg 0.1, 0.01, 0.001, 0.25, ..." style="width: 120px; display: inline;" />
        <button type="button" class="btn btn-primary zoneActionButton" data-ng-click="saveZones()">{{'settings/healthSettings/save_zone'| translationFilter}}</button>
        <button type="button" class="btn btn-success zoneActionButton" data-ng-click="addZone()">{{'settings/healthSettings/add_last_zone'| translationFilter}}</button>
        <button type="button" class="btn btn-danger zoneActionButton" data-ng-click="removeZone()">{{'settings/healthSettings/del_last_zone'| translationFilter}}</button>
        <button type="button" class="btn btn-warning zoneActionButton" data-ng-click="resetZone()">{{'settings/healthSettings/reset_zone'| translationFilter}}</button>
        <button type="button" class="btn btn-default zoneActionButton" data-ng-click="export()">{{'settings/zoneSettings/export_zone'| translationFilter}}</button>
        <button type="button" class="btn btn-default zoneActionButton" data-ng-click="import()">{{'settings/zoneSettings/import_zone'| translationFilter}}</button>
    </div>
</div>
