<md-card>
    <md-card-title class="md-default" aria-hidden="true">
        <div>
            <span class="md-subhead">Zone {{1 * zoneId + 1}}</span>
        </div>
        <div flex></div>
        <div>
            <md-button ng-click="removeZone($event)">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-card-title>
    <md-card-content layout="row">
        <div flex layout="column"></div>
        <div flex="30" layout="column">
            <div flex="50">
                <div data-ng-switch data-on="xtdZoneFirst">
                    <div data-ng-switch-when="true">
                        <md-input-container class="md-block">
                            <label>Enter {{xtdDataSelected.units}} Start</label>
                            <md-icon>keyboard_arrow_right</md-icon>
                            <input type="number" ng-model="xtdZone.from" min="{{xtdDataSelected.min}}" max="{{xtdZone.to}}" step="{{xtdDataSelected.step}}" ng-keydown="avoidInputKeyEdit($event)" />
                            <md-tooltip md-direction="top">Use arrows &#8645; to set {{xtdDataSelected.units}} value.</md-tooltip>
                        </md-input-container>
                    </div>
                    <div data-ng-switch-default>
                        <md-input-container class="md-block">
                            <label>Enter {{xtdDataSelected.units}} Start</label>
                            <md-icon>keyboard_arrow_right</md-icon>
                            <input type="number" ng-model="xtdZone.from" min="{{previousFrom}}" max="{{xtdZone.to}}" step="{{xtdDataSelected.step}}" ng-keydown="avoidInputKeyEdit($event)" />
                            <md-tooltip md-direction="top">Use arrows &#8645; to set {{xtdDataSelected.units}} value.</md-tooltip>
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div flex="50">
                {{xtdZone.from | xtdDataFilter:xtdDataSelected.value}}
            </div>
        </div>
        <div flex="20" layout="column"></div>
        <div flex="30" layout="column">
            <div flex="50">
                <div data-ng-switch data-on="xtdZoneLast">
                    <div data-ng-switch-when="true">
                        <md-input-container class="md-block">
                            <label>Enter {{xtdDataSelected.units}} End</label>
                            <md-icon>keyboard_arrow_right</md-icon>
                            <input type="number" ng-model="xtdZone.to" min="{{xtdZone.from}}" max="{{xtdDataSelected.max}}" step="{{xtdDataSelected.step}}" ng-keydown="avoidInputKeyEdit($event)" />
                            <md-tooltip md-direction="top">Use arrows &#8645; to set {{xtdDataSelected.units}} value.</md-tooltip>
                        </md-input-container>
                    </div>
                    <div data-ng-switch-default>
                        <md-input-container class="md-block">
                            <label>Enter {{xtdDataSelected.units}} End</label>
                            <md-icon>keyboard_arrow_right</md-icon>
                            <input type="number" ng-model="xtdZone.to" min="{{xtdZone.from}}" max="{{nextTo}}" step="{{xtdDataSelected.step}}" ng-keydown="avoidInputKeyEdit($event)" />
                            <md-tooltip md-direction="top">Use arrows &#8645; to set {{xtdDataSelected.units}} value.</md-tooltip>
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div flex="50">
                {{xtdZone.to | xtdDataFilter:xtdDataSelected.value}}
            </div>
        </div>
        <div flex layout="column"></div>
    </md-card-content>
</md-card>
