<md-card aria-hidden="true">
    <md-card-content layout="row" layout-align="center center">
        <div flex="10">
            <span class="md-subhead">Z{{1 * zoneId + 1}}</span>
            <!-- </br><span class="md-caption">{{xtdDataSelected.units}}</span> -->
        </div>
        <div flex="35" layout="row" layout-align="start center">
            <div data-ng-switch data-on="xtdZoneFirst" flex="(xtdDataSelected.hasConvertion ? 45 : 60)" layout-align="center center">
                <div data-ng-switch-when="true">
                    <md-input-container class="md-block zone-input-margin">
                        <label>From {{xtdDataSelected.units}}</label>
                        <input type="number" aria-label="none" ng-model="xtdZone.from" min="{{xtdDataSelected.min}}" max="{{xtdZone.to}}" step="{{xtdDataSelected.step}}" ng-keydown="avoidInputKeyEdit($event)" />
                        <md-tooltip md-direction="top">Use arrows &#8645; to set {{xtdDataSelected.units}} value.</md-tooltip>
                    </md-input-container>
                </div>
                <div data-ng-switch-default>
                    <md-input-container class="md-block zone-input-margin">
                        <label>From {{xtdDataSelected.units}}</label>
                        <input type="number" aria-label="none" ng-model="xtdZone.from" min="{{previousFrom}}" max="{{xtdZone.to}}" step="{{xtdDataSelected.step}}" ng-keydown="avoidInputKeyEdit($event)" />
                        <md-tooltip md-direction="top">Use arrows &#8645; to set {{xtdDataSelected.units}} value.</md-tooltip>
                    </md-input-container>
                </div>
            </div>
            <div flex="55" ng-if="xtdDataSelected.hasConvertion">
                <md-input-container class="md-block zone-input-margin">
                    <md-icon>keyboard_arrow_right</md-icon>
                    <input type="text" aria-label="{{xtdZone.to | xtdDataFilter:xtdDataSelected.value}}" value="{{xtdZone.from | xtdDataFilter:xtdDataSelected.value}}" ng-disabled="true" />
                </md-input-container>
            </div>
        </div>
        <div flex="10"></div>
        <!-- ____________________________ -->
        <div flex="35" layout="row" layout-align="end center">
            <div data-ng-switch data-on="xtdZoneLast" flex="(xtdDataSelected.hasConvertion ? 45 : 60)" layout-align="center center">
                <div data-ng-switch-when="true">
                    <md-input-container class="md-block zone-input-margin">
                        <label>To {{xtdDataSelected.units}}</label>
                        <input type="number" aria-label="none" ng-model="xtdZone.to" min="{{xtdZone.from}}" max="{{xtdDataSelected.max}}" step="{{xtdDataSelected.step}}" ng-keydown="avoidInputKeyEdit($event)" />
                        <md-tooltip md-direction="top">Use arrows &#8645; to set {{xtdDataSelected.units}} value.</md-tooltip>
                    </md-input-container>
                </div>
                <div data-ng-switch-default>
                    <md-input-container class="md-block zone-input-margin">
                        <label>To {{xtdDataSelected.units}}</label>
                        <input type="number" aria-label="none" ng-model="xtdZone.to" min="{{xtdZone.from}}" max="{{nextTo}}" step="{{xtdDataSelected.step}}" ng-keydown="avoidInputKeyEdit($event)" />
                        <md-tooltip md-direction="top">Use arrows &#8645; to set {{xtdDataSelected.units}} value.</md-tooltip>
                    </md-input-container>
                </div>
            </div>
            <div flex="55" ng-if="xtdDataSelected.hasConvertion">
                <md-input-container class="md-block zone-input-margin">
                    <md-icon>keyboard_arrow_right</md-icon>
                    <input type="text" aria-label="{{xtdZone.to | xtdDataFilter:xtdDataSelected.value}}" value="{{xtdZone.to | xtdDataFilter:xtdDataSelected.value}}" ng-disabled="true" />
                </md-input-container>
            </div>
        </div>
        <div flex="10">
            <md-button ng-click="removeZone($event)">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-card-content>
</md-card>
