<div class="xtdZone">
    <!-- Display first zone -->
    <table data-ng-switch data-on="xtdZoneFirst">
        <tr data-ng-switch-when="true">
            <td><i>{{xtdDataSelected.units}} &#10142;</i>
            </td>
            <td>
                <input class="form-control input-lg" type="number" data-ng-model="xtdZone.from" min="{{xtdDataSelected.min}}" max="{{xtdZone.to}}" step="{{xtdDataSelected.step}}" data-ng-keydown="avoidInputKeyEdit($event)" data-popover="Use arrows &#8645; to set {{xtdDataSelected.units}} value." />
            </td>
            <td>{{xtdZone.from | hrrToBpmFilter:userMaxHr:userRestHr}}</td>
        </tr>
        <tr data-ng-switch-default>
            <td><i>{{xtdDataSelected.units}} &#10142;</i>
            </td>
            <td>
                <input class="form-control input-lg" type="number" data-ng-model="xtdZone.from" min="{{previousFrom}}" max="{{xtdZone.to}}" step="{{xtdDataSelected.step}}" data-ng-keydown="avoidInputKeyEdit($event)" data-popover="Use arrows &#8645; to set {{xtdDataSelected.units}} value." data-popover-trigger="mouseenter" />
            </td>
            <td class="bpmFilter">{{xtdZone.from | hrrToBpmFilter:userMaxHr:userRestHr}}</td>
        </tr>
    </table>

    <!-- Display zone Id -->
    <table class="xtdZoneBpmDescribe">
        <tr>
            <td align="center" colspan="3">
                <img src="img/ic_more_vert_24px.svg" />
            </td>
        </tr>
        <tr>
            <td align="center"></td>
            <td>
                <span class="printableZoneId">Zone {{printableZoneId}}</span>
            </td>
            <td></td>
        </tr>
        <tr>
            <td align="center" colspan="3">
                <img src="img/ic_more_vert_24px.svg" />
            </td>
        </tr>
    </table>

    <!-- Display last zone -->
    <table data-ng-switch data-on="xtdZoneLast">
        <tr data-ng-switch-when="true">
            <td><i>{{xtdDataSelected.units}} &#10142;</i>
            </td>
            <td>
                <input class="form-control input-lg" type="number" data-ng-model="xtdZone.to" min="{{xtdZone.from}}" max="{{xtdDataSelected.max}}" step="{{xtdDataSelected.step}}" data-ng-keydown="avoidInputKeyEdit($event)" data-popover="Use arrows &#8645; to set {{xtdDataSelected.units}} value." data-popover-trigger="mouseenter" />
            </td>
            <td>{{xtdZone.to | hrrToBpmFilter:userMaxHr:userRestHr}}</td>
        </tr>
        <tr data-ng-switch-default data-ng-hide="true">
            <td><i>{{xtdDataSelected.units}} &#10142;</i>
            </td>
            <td>
                <input class="form-control input-lg" type="number" data-ng-model="xtdZone.to" min="{{xtdZone.from}}" max="{{nextTo}}" step="{{xtdDataSelected.step}}" data-ng-keydown="avoidInputKeyEdit($event)" />
            </td>
            <td>{{xtdZone.from | hrrToBpmFilter:userMaxHr:userRestHr}}</td>
        </tr>
    </table>
</div>