<div class="xtdzone">
    <!-- Display first zone -->
    <table data-ng-switch data-on="xtdzoneFirst">
        <tr data-ng-switch-when="true">
            <td><i>%HRR &#10142;</i>
            </td>
            <td>
                <input class="form-control input-lg" type="number" data-ng-model="xtdzone.from" min="0" max="{{xtdzone.to}}" data-ng-keydown="avoidInputKeyEdit($event)" data-popover="Use arrows &#8645; to set %HRR value." />
            </td>
            <td><img src="img/ic_favorite_24px.svg" /> {{xtdzone.from | hrrToBpmFilter:userMaxHr:userRestHr}} bpm</td>
        </tr>
        <tr data-ng-switch-default>
            <td><i>%HRR &#10142;</i>
            </td>
            <td>
                <input class="form-control input-lg" type="number" data-ng-model="xtdzone.from" min="{{previousFromHrr}}" max="{{xtdzone.to}}" data-ng-keydown="avoidInputKeyEdit($event)" data-popover="Use arrows &#8645; to set %HRR value." data-popover-trigger="mouseenter" />
            </td>
            <td class="bpmFilter"><img src="img/ic_favorite_24px.svg" /> {{xtdzone.from | hrrToBpmFilter:userMaxHr:userRestHr}} bpm</td>
        </tr>
    </table>

    <!-- Display zone Id -->
    <table class="xtdzoneBpmDescribe">
        <tr>
            <td align="center" colspan="3">
                <img src="img/ic_more_vert_24px.svg" />
            </td>
        </tr>
        <tr>
            <td align="center"></td>
            <td>
                <span class="printableHrZoneId">Zone {{printableHrZoneId}}</span>
            </td>
            <td></td>
        </tr>
        <tr>
            <td align="center" colspan="3">
                <img src="img/ic_more_vert_24px.svg" />
            </td>
        </tr>
    </table>

    <!-- Display last zone -->
    <table data-ng-switch data-on="xtdzoneLast">
        <tr data-ng-switch-when="true">
            <td><i>%HRR &#10142;</i>
            </td>
            <td>
                <input class="form-control input-lg" type="number" data-ng-model="xtdzone.to" min="{{xtdzone.from}}" max="125" data-ng-keydown="avoidInputKeyEdit($event)" data-popover="Use arrows &#8645; to set %HRR value." data-popover-trigger="mouseenter" />
            </td>
            <td><img src="img/ic_favorite_24px.svg" /> {{xtdzone.to | hrrToBpmFilter:userMaxHr:userRestHr}} bpm</td>
        </tr>
        <tr data-ng-switch-default data-ng-hide="true">
            <td><i>%HRR &#10142;</i>
            </td>
            <td>
                <input class="form-control input-lg" type="number" data-ng-model="xtdzone.to" min="{{xtdzone.from}}" max="{{nextToHrr}}" data-ng-keydown="avoidInputKeyEdit($event)" />
            </td>
            <td><img src="img/ic_favorite_24px.svg" /> {{xtdzone.from | hrrToBpmFilter:userMaxHr:userRestHr}} bpm</td>
        </tr>
    </table>
</div>