<div>
    <div data-ng-hide="false">
        <strong>Zones debug:</strong>
        <div>{{xtdZones | json}}</div>
    </div>
    <div class="hrZoneAddRemoveTop">
        <button type="button" class="btn btn-primary hrZoneActionButton" data-ng-click="saveZones()">Save Zones</button>
        <button type="button" class="btn btn-success hrZoneActionButton" data-ng-click="addZone()">Add a Last Zone</button>
        <button type="button" class="btn btn-danger hrZoneActionButton" data-ng-click="removeZone()">Del Last Zone</button>
        <button type="button" class="btn btn-warning hrZoneActionButton" data-ng-click="resetZone()">Reset Zones</button>
    </div>
    <div data-ng-repeat="xtdZone in xtdZones">
        <div data-xtd-zone="xtdZone" data-zone-id="{{$index}}" data-previous-from="{{xtdZones[$index - 1].from}}" data-next-to="{{xtdZones[$index + 1].to}}" data-xtd-zone-first="{{$index == 0}}" data-xtd-zone-last="{{$index == (xtdZones.length - 1)}}" data-xtd-data-selected="xtdDataSelected"></div>
    </div>
    <div class="hrZoneAddRemoveBottom">
        <button type="button" class="btn btn-primary hrZoneActionButton" data-ng-click="saveZones()">Save Zones</button>
        <button type="button" class="btn btn-success hrZoneActionButton" data-ng-click="addZone()">Add a Last Zone</button>
        <button type="button" class="btn btn-danger hrZoneActionButton" data-ng-click="removeZone()">Del Last Zone</button>
        <button type="button" class="btn btn-warning hrZoneActionButton" data-ng-click="resetZone()">Reset Zones</button>
    </div>
</div>
