@import "../styles/constant";

.no-data div {
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-divider {
  margin: $default-margin;
}

#inputsSelection {
  margin-bottom: 30px;
}

.expanded-button {
  bottom: 8px;
}
