@import "../styles/constant";

.no-data {
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-divider {
  margin: $default-margin;
}

.graph-table-card {
  margin-top: 20px;
}

.expanded-button {
  bottom: 8px;
}
