<mat-card>
	<mat-card-title>
		Strava
	</mat-card-title>
	<mat-card-subtitle>
		<span *ngIf="!stravaApiCredentials || !stravaApiCredentials.accessToken">Not connected</span>
		<span *ngIf="stravaApiCredentials && stravaApiCredentials.accessToken">
			Connected as {{stravaApiCredentials.stravaAccount.firstname}} {{stravaApiCredentials.stravaAccount.lastname}}
			(id: {{stravaApiCredentials.stravaAccount.id}})
		</span>
	</mat-card-subtitle>
	<mat-card-content>
		<div *ngIf="showHowTo">
			<div class="mat-title">
				How to get your client Id & secret:
			</div>
			<div>
				To connect to Strava you will need to create <strong>your own</strong> "Strava API Application"
				using your dummy or real Strava account. After this you will be able to synchronize the Strava
				account of your choice by connecting it to your "Strava API Application" just created. It's not
				rocket science, <strong>just follow below easy steps</strong>:
			</div>
			<ol *ngIf="generatedStravaApiApplication">
				<li>Open your default web browser and connect to <a
					href="https://www.strava.com">www.strava.com</a>
					with your dummy or real Strava account.
				</li>
				<li>
					Open the "Strava API Application" page available here: <a
					href="https://www.strava.com/settings/api">https://www.strava.com/settings/api</a>
				</li>
				<li>
					<div>
						Enter application information requested. To help you, here's random app information you can
						use:
					</div>
					<table>
						<tr>
							<td><strong>Application Name:</strong></td>
							<td>Enter
								<button mat-button color="primary" ngxClipboard
										[cbContent]="generatedStravaApiApplication.appName"
										matTooltip="Click to copy to clipboard"
										matTooltipPosition="above">{{generatedStravaApiApplication.appName}}</button>
								or something of your choice...
							</td>
						</tr>
						<tr>
							<td><strong>Category:</strong></td>
							<td>
								<mat-chip-list>Select
									<mat-chip>Performance Analysis</mat-chip>
									or
									<mat-chip>Training</mat-chip>
									or
									<mat-chip>Visualizer</mat-chip>
									option.
								</mat-chip-list>
							</td>
						</tr>
						<tr>
							<td><strong>Club:</strong></td>
							<td>Something of your choice... or nothing</td>
						</tr>
						<tr>
							<td><strong>Website:</strong></td>
							<td>
								Enter
								<button mat-button color="primary" ngxClipboard
										[cbContent]="generatedStravaApiApplication.webSite"
										matTooltip="Click to copy to clipboard"
										matTooltipPosition="above">{{generatedStravaApiApplication.webSite}}</button>
								or something of your choice or your own website...
							</td>
						</tr>
						<tr>
							<td><strong>Application Description:</strong></td>
							<td>Something of your choice... or nothing</td>
						</tr>
						<tr>
							<td><strong>Authorization Callback Domain:</strong></td>
							<td>
								<button mat-button color="primary" ngxClipboard
										cbContent="localhost"
										matTooltip="Click to copy to clipboard"
										matTooltipPosition="above">localhost
								</button>
							</td>
						</tr>
					</table>
					<button mat-button color="primary" (click)="refreshRandomStravaApiApplication()">Re-generate
						random App
					</button>
				</li>
				<li>
					Now create application once you agree with <a href="https://www.strava.com/legal/api">Strava's
					API Agreement</a>. <u>You are responsible of the application you are going to create</u>
				</li>
				<li>
					You will be now prompted for an App Icon. You can download <a #appIconDlLink
																				  (click)="appIconDlLink.href = appIcon.toDataURL('image/png')"
																				  download="{{generatedStravaApiApplication.imageFileName}}">this
					generated app icon</a> or use your own.
					<canvas width="124" height="124" id="appIcon" #appIcon hidden></canvas>
				</li>
				<li>
					Upload your app icon.
				</li>
				<li>
					Open <a href="https://www.strava.com/settings/api">https://www.strava.com/settings/api</a> back.
				</li>
				<li>
					Copy-paste the <strong>Client ID</strong> and <strong>Client Secret</strong> to the connector
					configuration just below.
				</li>
				<li>
					Click "Connect to Strava" button, then logon with the Strava account you want to synchronize
					with
					Elevate.
				</li>
			</ol>
		</div>

		<div class="connector" *ngIf="stravaApiCredentials">

			<button
				*ngIf="isSynced && (stravaApiCredentials.clientId > 0 && stravaApiCredentials.clientSecret && stravaApiCredentials.accessToken)"
				mat-stroked-button
				color="primary"
				(click)="sync(true)">
				<mat-icon>sync</mat-icon>
				Sync recent activities
			</button>

			<button
				*ngIf="(stravaApiCredentials.clientId > 0 && stravaApiCredentials.clientSecret && stravaApiCredentials.accessToken)"
				mat-stroked-button
				color="primary"
				(click)="sync()">
				<mat-icon>sync</mat-icon>
				Sync all activities
			</button>

			<button *ngIf="!showConfigure" mat-stroked-button color="primary" (click)="onConfigure()">
				<mat-icon>build</mat-icon>
				Configure
			</button>
			<button
				*ngIf="(stravaApiCredentials.clientId > 0 && stravaApiCredentials.clientSecret && stravaApiCredentials.accessToken)"
				mat-stroked-button
				color="primary"
				(click)="disconnect()">
				<mat-icon>power_off</mat-icon>
				Disconnect
			</button>

			<div class="configureView" *ngIf="showConfigure">
				<div class="mat-title">
					Enter Strava API Application information below:
				</div>
				<div>
					<mat-form-field fxFlex="50">
						<input matInput type="number" min="0" placeholder="Client id"
							   [(ngModel)]="stravaApiCredentials.clientId"
							   (change)="onClientIdChange()">
					</mat-form-field>
				</div>
				<div>
					<mat-form-field fxFlex="50">
						<input matInput [type]="showSecret.checked ? 'text' : 'password'"
							   placeholder="Client secret"
							   [(ngModel)]="stravaApiCredentials.clientSecret" (change)="onClientSecretChange()">
						<button matSuffix mat-icon-button
								(click)="showSecret.checked = !showSecret.checked">
							<mat-icon>{{showSecret.checked ? 'visibility_off' : 'visibility'}}</mat-icon>
						</button>
						<mat-checkbox fxHide #showSecret></mat-checkbox>
					</mat-form-field>
				</div>
				<div *ngIf="stravaApiCredentials.accessToken">
					<mat-form-field fxFlex="50">
						<input matInput disabled [type]="showToken.checked ? 'text' : 'password'"
							   placeholder="Access Token"
							   [(ngModel)]="stravaApiCredentials.accessToken">
						<button matSuffix mat-icon-button
								(click)="showToken.checked = !showToken.checked">
							<mat-icon>{{showToken.checked ? 'visibility_off' : 'visibility'}}</mat-icon>
						</button>
						<mat-checkbox fxHide #showToken></mat-checkbox>
					</mat-form-field>
				</div>
				<div *ngIf="stravaApiCredentials.refreshToken">
					<mat-form-field fxFlex="50">
						<input matInput disabled [type]="showToken.checked ? 'text' : 'password'"
							   placeholder="Refresh Token"
							   [(ngModel)]="stravaApiCredentials.refreshToken">
						<button matSuffix mat-icon-button
								(click)="showToken.checked = !showToken.checked">
							<mat-icon>{{showToken.checked ? 'visibility_off' : 'visibility'}}</mat-icon>
						</button>
						<mat-checkbox fxHide #showToken></mat-checkbox>
					</mat-form-field>
				</div>
				<div *ngIf="stravaApiCredentials.expiresAt > 0">
					<mat-form-field fxFlex="50">
						<input matInput disabled [type]="showToken.checked ? 'text' : 'password'"
							   placeholder="Session valid until" [value]="expiresAt">
						<button matSuffix mat-icon-button
								(click)="showToken.checked = !showToken.checked">
							<mat-icon>{{showToken.checked ? 'visibility_off' : 'visibility'}}</mat-icon>
						</button>
						<mat-checkbox fxHide #showToken></mat-checkbox>
					</mat-form-field>
				</div>
				<div>
					<button mat-stroked-button color="primary"
							*ngIf="!showHowTo"
							(click)="onHowToClicked()">
						<mat-icon>help</mat-icon>&nbsp;How to get your client id & secret
					</button>
					<button mat-stroked-button *ngIf="!stravaApiCredentials.accessToken"
							color="primary"
							(click)="stravaAuthentication()"
							[disabled]="(!stravaApiCredentials.clientId || !stravaApiCredentials.clientSecret)">
						<mat-icon>power</mat-icon>
						<span>Connect to Strava</span>
					</button>
				</div>
			</div>

		</div>
	</mat-card-content>
</mat-card>
