button {
  margin-right: 8px;
}

li {
  padding-bottom: 10px;
}

table {
  border-collapse: collapse;
  border: 1px solid grey;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

td {
  padding: 8px 8px 8px 16px;
}

a {
  cursor: pointer;
}

canvas {
  background-color: white;
}

.tip {
  padding-top: 20px;
}

.connector {
  padding-top: 10px;
  padding-bottom: 10px;
}

.configureView {
  margin-top: 25px;
}

.others-options {
  margin-top: 15px;
  margin-bottom: 15px;
}
