<md-card>
  <md-card-title class="md-default" aria-hidden="true">
      <div>
          <span class="md-subhead">Zone {{1 * hrZoneId + 1}}</span>
      </div>
      <div flex></div>
      <div>
          <md-button ng-click="removeZone($event)">
              <md-icon>close</md-icon>
          </md-button>
      </div>
  </md-card-title>
    <md-card-content layout="row">
        <div flex layout="column"></div>
        <div flex="30" layout="column">
            <div flex="50">
                <div data-ng-switch data-on="hrZoneFirst">
                    <div data-ng-switch-when="true">
                        <md-input-container class="md-block">
                            <label>Enter %HRR Start</label>
                            <md-icon>keyboard_arrow_right</md-icon>
                            <input type="number" ng-model="hrZone.fromHrr" min="0" max="{{hrZone.toHrr}}" step="{{step}}" ng-keydown="avoidInputKeyEdit($event)" />
                            <md-tooltip md-direction="right">Use arrows &#8645; to set %HRR value.</md-tooltip>
                        </md-input-container>
                    </div>
                    <div data-ng-switch-default>
                        <md-input-container class="md-block">
                            <label>Enter %HRR Start</label>
                            <md-icon>keyboard_arrow_right</md-icon>
                            <input type="number" ng-model="hrZone.fromHrr" min="{{previousFromHrr}}" max="{{hrZone.toHrr}}" step="{{step}}" ng-keydown="avoidInputKeyEdit($event)" />
                            <md-tooltip md-direction="right">Use arrows &#8645; to set %HRR value.</md-tooltip>
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div flex="50">
                <md-icon>favorite</md-icon> {{hrZone.fromHrr | hrrToBpmFilter:userMaxHr:userRestHr}} bpm
            </div>
        </div>
        <div flex="20" layout="column"></div>
        <div flex="30" layout="column">
            <div flex="50">
                <div data-ng-switch data-on="hrZoneLast">
                    <div data-ng-switch-when="true">
                        <md-input-container class="md-block">
                            <label>Enter %HRR End</label>
                            <md-icon>keyboard_arrow_right</md-icon>
                            <input type="number" ng-model="hrZone.toHrr" min="{{hrZone.fromHrr}}" step="{{step}}" max="9999" ng-keydown="avoidInputKeyEdit($event)" />
                            <md-tooltip md-direction="right">Use arrows &#8645; to set %HRR value.</md-tooltip>
                        </md-input-container>
                    </div>
                    <div data-ng-switch-default>
                        <md-input-container class="md-block">
                            <label>Enter %HRR End</label>
                            <md-icon>keyboard_arrow_right</md-icon>
                            <input type="number" ng-model="hrZone.toHrr" min="{{hrZone.fromHrr}}" step="{{step}}" max="{{nextToHrr}}" ng-keydown="avoidInputKeyEdit($event)" />
                            <md-tooltip md-direction="right">Use arrows &#8645; to set %HRR value.</md-tooltip>
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div flex="50">
                <md-icon>favorite</md-icon> {{hrZone.toHrr | hrrToBpmFilter:userMaxHr:userRestHr}} bpm
            </div>
        </div>
        <div flex layout="column"></div>
    </md-card-content>
</md-card>
