@import "@angular/material/theming";

$dark-primary: mat-palette($mat-yellow, 400);
$dark-accent: mat-palette($mat-purple, 200);
$dark-warn: mat-palette($mat-red, 400);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
