.stravaPlusExtendedData table {
    margin: 0;
    padding: 0;
    border-spacing: 0px;
}
.stravaPlusExtendedData td {
    border: 1px dashed #F0F0F0;
}
.stravaPlusExtendedData div {
    vertical-align: middle;
    padding: 15px;
}
