.stravistiXExtendedData table {
    margin: 0;
    padding: 0;
    border-spacing: 0px;
}

.stravistiXExtendedData td {
    text-align: center;
    padding: 3px;
}

.stravistiXExtendedData div {
    display: inline-block;
    vertical-align: middle;
    padding-right: 7.5px;
}

/* Remove padding on grid for featured data */
.stravistiXExtendedData .featuredData .grid td {
    padding-bottom: 0px;
    max-width: 200px;
    padding-right: 30px;
}

.stravistiXExtendedData .distributionGraphTitle {
    display: block;
    text-align: center;
    font-size: 14px;
}

.stravistiXExtendedData .distributionTable {
    height: 450px;
    width: 350px;
}

.stravistiXExtendedData .distributionTable tr:hover {
    background-color: #ffff99;
}

.stravistiXExtendedData .grid {
    font-size: 22px;
    padding-left: 10px;
}

.stravistiXExtendedData .grid td {
    text-align: left;
    border: 0px;
    padding-bottom: 30px;
}

.stravistiXExtendedData .gridDataContainer {
    cursor: pointer;
}

.stravistiXExtendedData .gridUnits {
    font-size: 14px;
    text-transform: uppercase;
}

.stravistiXExtendedData .gridTitle {
    font-size: 14px;
    cursor: pointer;
}

.stravistiXExtendedData .grid td {
    max-width: 100px;
}

.summaryGrid table {
    margin: 0;
    padding: 0;
}

.summaryGrid td {
    padding: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.summaryGrid .summaryGridDataContainer {
    color: rgb(78, 78, 78);
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
}

.summaryGrid .summaryGridTitle {
    cursor: pointer;
    color: rgb(137, 133, 133);
    font-size: small;
    font-weight: normal;
}

.summaryGrid .summarySubGridTitle {
    color: rgb(78, 78, 78);
    font-size: small;
    font-weight: normal;
}

#athlete-history-chart .hra-time-mark {
    stroke: rgb(150, 30, 30)
}

#athlete-history-chart .hra-line {
    stroke: rgb(255, 130, 130);
    stroke-dasharray: 5;
    stroke-opacity: 0.75;
}

#athlete-history-chart .hra-axis {
    fill: rgb(150, 30, 30);
}


#athlete-history-chart #hra-box-help { /* based on css of #effort-box */
    fill: #fff;
    stroke: #ccc;
    stroke-width: 1;
}

#athlete-history-chart #hra-hover {
    opacity: 0.0;
}

#athlete-history-chart #hra-hover-g {
    pointer-events: none;
}

#athlete-history-chart #hra-hover-box {
    opacity: 0.0;
}

#athlete-history-chart #hra-hover:hover {
    opacity: 0.9;
}

#athlete-history-chart #hra-box { /* based on css of #effort-box */
    fill: #fff;
    stroke: #ccc;
    stroke-width: 1;
}

#athlete-history-chart #hra-value-help { /* based on css of #effort-box-activity-date */
    fill: #999;
    font-size: 11px;
    display: block;
    box-sizing: border-box;
    text-anchor: middle;
    alignment-baseline: central;
}

#athlete-history-chart #hra-value { /* based on css of #effort-box-activity-date */
    fill: rgb(150, 30, 30);
    font-size: 11px;
    display: block;
    box-sizing: border-box;
    alignment-baseline: central;
}

