<div id="about">

    <span class"aboutquote"></span>StravistiX extension is just adding some features that riders and runners would like to see in their Strava web. If these features could be added by default in Strava... It could be cool! Consider getting
    <strong>Strava Premium</strong>. There are a ton of features that you will love. Remember, this extension has for ambition to enhance the experience of all users (Free and Premium) and tends to keep users loyal in Strava.
    <br/>
    <br/>Strava logos, product and service names are the exclusive trademarks of, and are owned by, Strava, Inc.
    <br/>
    <br/>This extension is not approved by Strava. Do not ask them for support.<span class"aboutquote"></span>
</div>
