<div id="donate" style="font-size: 20px;">
    Push this project higher ! Make a donation <img src="img/ic_favorite_24px.svg"> <img src="img/ic_favorite_24px.svg"> <img src="img/ic_favorite_24px.svg">
    <br/><br/>
    <div id="paypal">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            Currency: <select class="btn btn-default" data-ng-model="currency" data-ng-options="currency.cur for currency in currenciesList"></select>
            <input type="hidden" name="cmd" value="_s-xclick"/>
            <input type="hidden" name="hosted_button_id" value="{{currency.paypalButtonId}}"/>
            &nbsp;&nbsp;&nbsp;
            <input class="btn btn-warning" type="submit" name="submit" value="Donate using {{currency.cur}}" style="font-size: 20px;"/>
        </form>
    </div>
    <div style="font-size: 20px; padding-top: 25px;">
        or use <a href="https://www.paypal.me/thomaschampagne/25">www.paypal.me/thomaschampagne</a>
    </div>
    <hr />
    <div style="font-size: 16px; font-style: italic;">
        <br/>Donations help this project to grow up with new features.
        <br/>Currently trying to get funds for loaning servers for months and push new addictive ideas! Waiting for your help ;)
        <br/>Just remember that StravistiX is done on free time while you are running or cycling :) I'm doing my best with passion !!
    </div>
</div>
