<div ng-cloak>
    <md-content>
        <md-card>
            <md-card-content>
                Your fitness trend will be shown here. Trend based on all your activities where your wear a heartrate monitor.

                <br /><br />All types of activities will be supported...

                <br /><br />Still work in progress... need time, support me ;)...

                <br /><br />Coming soon... Stay tunned <a href="https://twitter.com/champagnethomas" target="_blank">@champagnethomas</a>
            </md-card-content>
        </md-card>
    </md-content>
</div>
