<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" target="_blank" href="http://thomaschampagne.github.io/stravistix/">StravistiX</a>
        </div>
        <div id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{{CommonSettingsActive}}">
                    <a href="#/commonSettings"><img src="img/ic_settings_24px.svg" /> Common</a>
                </li>
                <li class="{{healthSettingsActive}}">
                    <a href="#/healthSettings"><img src="img/ic_favorite_24px.svg" /> Health</a>
                </li>
                <li class="{{zonesSettingsActive}}">
                    <a href="#/zonesSettings"><img src="img/ic_format_line_spacing_24px.svg" /> Zones</a>
                </li>
                <li class="{{releaseNotesActive}}">
                    <a href="#/releaseNotes"><img src="img/ic_system_update_24px.svg" /> Release Notes</a>
                </li>
                <li class="{{aboutActive}}">
                    <a href="#/about"><img src="img/ic_info_outline_24px.svg" /> About</a>
                </li>
                <li class="{{donateActive}}">
                    <a href="#/donate"><img src="img/ic_attach_money_24px.svg" /> Donate</a>
                </li>
                <li class="{{shareActive}}">
                    <a href="#/share"><img src="img/ic_share_24px.svg" /> Share</a>
                </li>
                <li>
                    <a href="https://twitter.com/champagnethomas" target="_blank"><img src="img/twitter.svg" /> What's next?</a>
                </li>
                <li>
                    <a href="https://chrome.google.com/webstore/detail/stravistix/dhiaggccakkgdfcadnklkbljcgicpckn/support" target="_blank"><img src="img/ic_bug_report_24px.svg" /> Report</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<a href="https://github.com/thomaschampagne/stravistix" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
</a>
