<div id="settingsContainer">
    <h3 data-ng-hide="false"><span class="label label-default">Your health data</span></h3>
    <form name="healthCommonForm">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="75%"></th>
                    <th width="20%"></th>
                    <th width="5%"></th>
                </tr>
                <tr>
                    <td>
                        Max heartrate
                    </td>
                    <td>
                        <input name="userMaxHr" type="number" min="{{userRestHr + 10}}" max="300" class="form-control input-lg" data-ng-model="userMaxHr" placeholder="Enter max HR" data-ng-change="userMaxHrChanged()" data-ng-keydown="avoidInputKeyEdit($event)" data-popover="Use arrows &#8645; to set your MAX heart rate in beat per minute (bpm)." data-popover-trigger="mouseenter"></input>
                    </td>
                    <td class="hint">
                        <button data-popover="Click for help" data-popover-trigger="mouseenter" class="btn btn-default" data-ng-click="displayUserMaxHrHelper()">Hint</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        Rest heartrate
                    </td>
                    <td>
                        <input name="userRestHr" type="number" min="10" max="{{userMaxHr - 10}}" class="form-control input-lg" data-ng-model="userRestHr" placeholder="Enter rest HR" data-ng-change="userRestHrChanged()" data-ng-keydown="avoidInputKeyEdit($event)" data-popover="Use arrows &#8645; to set your REST heart rate in beat per minute (bpm)." data-popover-trigger="mouseenter"></input>
                    </td>
                    <td class="hint">
                        <button data-popover="Click for help" data-popover-trigger="mouseenter" class="btn btn-default" data-ng-click="displayUserRestHrHelper()">Hint</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        Cycling Functional Threshold Power
                    </td>
                    <td>
                        <input name="userFTP" type="number" min="10" max="2500" class="form-control input-lg" data-ng-model="userFTP" placeholder="Enter your FTP" data-ng-pattern="/^[0-9]+$/" data-ng-change="ftpHasChanged()" data-popover="Use arrows &#8645; or numpad to set your Functional Threshold Power in Watts" data-popover-trigger="mouseenter"></input>
                        <alert type="danger" data-ng-show="healthCommonForm.userFTP.$invalid">Enter a valid FTP value in watts (between 10 to 2500 watts)</alert>
                    </td>
                    <td class="hint">
                        <button data-popover="Click for help" data-popover-trigger="mouseenter" class="btn btn-default" data-ng-click="displayUserFTPHelper()">Hint</button>
                    </td>
                </tr>
            </thead>
        </table>
    </form>
    <h3 data-ng-hide="false"><span class="label label-default">Your Heart Rate Reserve (HRR) zones</span></h3>
    <div class="row">
        <div class="col-md-6">
            <div data-health-custom-zones data-hr-zones="zones" data-user-max-hr="{{userMaxHr}}" data-user-rest-hr="{{userRestHr}}" align="center"></div>
        </div>
        <div class="col-md-6">
            <div class="healthCustomZonesExplanations">

                <h3>How to use custom Heart Rate Reserve zones ?</h3>
                <blockquote>

                    <h4>Edit existing zone</h4>
                    <blockquote>
                        Click into HRR fields of the zone you want to edit. A zone is always defined between 2 HRR fields
                        <br/>
                        <br/>Hint: You can use input arrows or keyboard arrows to set the value.
                    </blockquote>

                    <h4>Add a Last HRR zone</h4>
                    <blockquote>
                        Click “Add a Last Zone” button to add a new zone at the end of currents zones. The previous last zone will be splitted twice to add the new zone.
                    </blockquote>

                    <h4>Remove HRR zone</h4>
                    <blockquote>
                        Click “Del Last Zone” button to remove the zone at the end of currents zones. The 2 latest zones will be merged to perform this operation.
                    </blockquote>

                    <h4>Reset HRR zones</h4>
                    <blockquote>
                        Click “Reset Zones” to apply default factory zones.
                    </blockquote>
                </blockquote>

                <h3>What is Heart Rate Reserve ?</h3>
                <blockquote>
                    Heart Rate Reserve (HRR) is the difference between your Maximum Heart Rate (Max HR) and Resting Heart Rate (Rest HR). This is basically your global heart capacity :)
                    <br/>
                    <br/>%HRR = 0% is your Rest HR (={{userRestHr}} bpm)
                    <br/>%HRR = 100% is your Max HR (={{userMaxHr}} bpm)
                </blockquote>

                <h3>What are Heart Rate Reserve Zones ?</h3>
                <blockquote>
                    Heart Rate Reserve Zones represents a distribution of your heart efforts during an activity into zones. Each zone has a beginning and ending HRR value.
                </blockquote>
                <h3>Where to see HRR Zone distribution ?</h3>
                <blockquote>
                    Inside a strava activity. Of course you must have heart rate data associated to your activity.
                </blockquote>

            </div>
        </div>
    </div>
</div>
