<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="changelog">
                <h1>Release notes</h1>
                <div class="release">
                    <div class="release">
                        <h2>
                        <a target="_blank" href="https://github.com/thomaschampagne/stravistix/compare/1.0.1...1.0.2">Version 1.0.2</a>
                        </h2>
                        <div>
                            Fix map display problem while cropping ride. Google maps API was loaded twice.
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        <a target="_blank" href="https://github.com/thomaschampagne/stravistix/compare/0.8.0...1.0.1">Version 1.0.1</a>
                        </h2>
                        <div>
                            Google Maps revived inside activities pages
                            <br/>Add on/off extension settings for the segment time comparison on activities pages
                            <br/>Segment time comparison for QOM (Womens) on activities pages
                            <br/>Fix when segment time comparison may no be displayed
                            <br/>Fix when No longer seeing extended stats on turbo activities
                            <br/>Fix when Move ratio not being displayed (eg: Running race)
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        <a target="_blank" href="https://github.com/thomaschampagne/stravistix/compare/0.7.9...0.8.0">Version 0.8.0</a>
                        </h2>
                        <div>
                            Add Ascent speed statistics to extended elevation data stats: Average, first quartile, median and third quartile ascent speed
                            <br/>Fixing bug when exporting another riders segment as a virtual partner.
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        <a target="_blank" href="https://github.com/thomaschampagne/stravistix/compare/0.7.8...0.7.9">Version 0.7.9</a>
                        </h2>
                        <div>
                            Fixing standard deviation cadence computed and displayed for cycling.
                            <br/>Add standard deviation cadence to extended data popup panel
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        <a target="_blank" href="https://github.com/thomaschampagne/stravistix/compare/0.7.7...0.7.8">Version 0.7.8</a>
                        </h2>
                        <div>
                            Add Pedaling time to summary panel
                            <br/>Add median cadence to summary panel
                            <br/>Various bug fixes
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        <a target="_blank" href="https://github.com/thomaschampagne/stravistix/compare/0.7.6...0.7.7">Version 0.7.7</a>
                        </h2>
                        <div>
                            Remove OSM remotes maps links on activities
                            <br/>Add flyby link in dashboard feed
                            <br/>Fix extended data compute error on Workouts
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        <a target="_blank" href="https://github.com/thomaschampagne/stravistix/compare/0.7.5...0.7.6">Version 0.7.6</a>
                        </h2>
                        <div>
                            Fix (again) Year progress sometimes not visible if strava language is not english (tazmanska credits).
                            <br/>Segments time comparaison with KOM and previous PR inside activity page (tazmanska credits).
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        <a target="_blank" href="https://github.com/thomaschampagne/stravistix/compare/0.7.4...0.7.5">Version 0.7.5</a>
                        </h2>
                        <div>
                            Hotfix: Year progress sometimes not visible
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        <a target="_blank" href="https://github.com/thomaschampagne/stravistix/compare/0.7.3...0.7.4">Version 0.7.4</a>
                        </h2>
                        <div>
                            Year progressions to current month/day panel. See your progress for each beginning of year to current month and day. Go to "My profile" to see feature
                            <br/>Veloviewer Segments Comparaison remote link into activities
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        <a target="_blank" href="https://github.com/thomaschampagne/stravistix/compare/0.7.2...0.7.3">Version 0.7.3</a>
                        </h2>
                        <div>
                            NEW extended data: Elevation stats, graph and table. Elevation zones customizable in settings.
                            <br/>Bug fixes
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        <a target="_blank" href="https://github.com/thomaschampagne/stravistix/compare/0.7.1...0.7.2">Version 0.7.2</a>
                        </h2>
                        <div>
                            Improve weather accuracy
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        <a target="_blank" href="https://github.com/thomaschampagne/stravistix/compare/0.7.0...0.7.1">Version 0.7.1</a>
                        </h2>
                        <div>
                            Hotfix: Remove display stravistix chrome tab on update (http://thomaschampagne.github.io/stravistix)
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        <a target="_blank" href="https://github.com/thomaschampagne/stravistix/compare/0.6.4...0.7.0">Version 0.7.0</a>
                        </h2>
                        <div>
                            Added weather for cycling activities. Include wind, temp, clouds and humidity. Running coming soon.
                            <br/>Added 75% speed/pace and average climbing speed to summary panel (under 'show extended statistics' button)
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        <a target="_blank" href="https://github.com/thomaschampagne/stravistix/compare/0.6.3...0.6.4">Version 0.6.4</a>
                        </h2>
                        <div>
                            Provide average speed climbing, flat, downhill for extended grade data
                            <br/>New extended data summary panel in actitivies (below show extended statistics button)
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        <a target="_blank" href="https://github.com/thomaschampagne/stravistix/compare/0.6.2...0.6.3">Version 0.6.3</a>
                        </h2>
                        <div>
                            Bug fixes and improvements
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        <a target="_blank" href="https://github.com/thomaschampagne/stravistix/compare/0.6.1...0.6.2">Version 0.6.2</a>
                        </h2>
                        <div>
                            Exporting segment effort as Virtual Partner for your GPS through activity page.
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        <a target="_blank" href="https://github.com/thomaschampagne/stravistix/compare/0.6.0...0.6.1">Version 0.6.1</a>
                        </h2>
                        <div>
                            OpenStreetMap flipper for activities (from Veloviewer)
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        <a target="_blank" href="https://github.com/thomaschampagne/stravistix/compare/0.5.5...0.6.0">Version 0.6.0</a>
                        </h2>
                        <div>
                            <br/>Customized zones for each Xtended data
                            <br/>Add TRIMP/Hour
                            <br/>Change extension name from StravPlus to StravistiX
                            <br/>Bugs fix
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        <a target="_blank" href="https://github.com/thomaschampagne/stravistix/compare/0.5.4...0.5.5">Version 0.5.5</a>
                        </h2>
                        <div>
                            <br/>New extended data: Grade %
                            <br/>Running cadence for one or two legs (option)
                            <br/>Fixed wrong TRIMP calculation. Using 'exp' instead of 'pow'...
                            <br/>Fixed Rank=NaN% if athlete had no time in segment
                            <br/>Fixed activity data load on manual activities
                            <br/>Shop menu is always shown now
                            <br/>Extended data graph title updated: units in minutes
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        <a target="_blank" href="https://github.com/thomaschampagne/stravistix/compare/0.5.3...0.5.4">Version 0.5.4</a>
                        </h2>
                        <div>
                            Runners can view avanced pace data
                            <br/>Major bugs fixed from 0.5.3
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        Version 0.5.3
                        </h2>
                        <div>
                            Fix clear cache on extension update/install. This caused extension crash when using old cache with new extension.
                            <br/> Add export of your activities as TCX.
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        Version 0.5.2
                        </h2>
                        <div>
                            HotFix for 0.5.1: some dependencies could not be loaded resulting in extension crash.
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        Version 0.5.1
                        </h2>
                        <div>
                            Add extended stats for running
                            <br/>Extended stats now includes: Speed, Power, HR and Cadence graph distribution + table result on 15 zones
                            <br/>New extended stats panel design for running and cycling
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        Version 0.4.10
                        </h2>
                        <div>
                            Add share extension links to twitter
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        Version 0.4.9
                        </h2>
                        <div>
                            Add Segment Details remote link on segment page
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        Version 0.4.8
                        </h2>
                        <div>
                            Add Surface Area of your activities (raceshape EREA)
                            <br/>Normalized Power (TrainingPeaks trademarked term) removed. Profit to "Weighted Power" data now
                            <br/>Intensity Factor (TrainingPeaks trademarked term) removed. Profit to "Punch Factor" data now
                            <br/>Prepare better veloviewer.com integration (waiting for veloviewer.com side now...)
                            <br/>Bugs fixes
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        Version 0.4.7
                        </h2>
                        <div>
                            Inform runners about: "Running Extended Data Features (like current cycling features) will be very soon available in version 0.5.x"
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        Version 0.4.6
                        </h2>
                        <div>
                            Activity flash code in activities for Strava mobile App
                            <br/>Fix bug wheere miles displayed even if metrics chosen in activities
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        Version 0.4.5
                        </h2>
                        <div>
                            Fast fix from version 0.4.4. Sry for this...
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        Version 0.4.4
                        </h2>
                        <div>
                            Fix unable to remove FTP value in options page
                            <br/>Improving code to save time later... Invisible on your screen :)
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        Version 0.4.3
                        </h2>
                        <div>
                            Minor fixes
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        Version 0.4.2
                        </h2>
                        <div>
                            Minor fixes
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        Version 0.4.1
                        </h2>
                        <div>
                            Options GUI look better especially on checkboxes
                            <br/> Minor fixes
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        Version 0.4.0
                        </h2>
                        <div>
                            Heart Rate Reserve zones distribution now customizable
                            <br/>New options UI made with angularjs and bootstrap
                            <br/>Fix Unable to fetch athlete bike odo
                            <br/>Others tiny fixes
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        Version 0.3.9
                    </h2>
                        <div>
                            Fix kom-map to achievement-map
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                        Version 0.3.8
                    </h2>
                        <div>
                            Fix nearby segment icons away
                        </div>
                    </div>
                    <div class="release">
                        <h2>
                                Version 0.3.7
                            </h2>
                        <div>
                            Add nearby cycling+running segments added on segment page
                            <br/>Add average pace in cycling activities
                            <br/>Add lower quartile power, median power and upper quartile power in cycling activities
                            <br/>Fixed: Unable to see StravistiX icon menu when highlight option is on.
                        </div>
                        <div class="release">
                            <h2>
                                Version 0.3.6
                            </h2>
                            <div>
                                Cadence/Cadence extended data is now computed while moving.
                                <br/>Fix wrong "Harmonized Power" for riders with power meter.
                                <br/>Others minor bug fixes
                            </div>
                        </div>
                        <div class="release">
                            <h2>
                                Version 0.3.2 to 0.3.5
                            </h2>
                            <div>
                                Fixed display text glitches on some pages
                                <br/>StravistiX menu icon orange
                                <br/>Others minor bug fixes
                            </div>
                        </div>
                        <div class="release">
                            <h2>
                                Version 0.3.1
                            </h2>
                            <div>
                                Big changes in extension core: Ext recoded from scratch in order to fix memory leaks from v0.2.0 and make new evolutions easier
                                <br/>Bike activities extended data new look. Possibility to get the activity extended data panel hidden on load
                                <br/>Cache management of bike Odo for bike activities, force refresh possible
                                <br/>Fixing hide challenges and new routes which broken in new Strava.com update
                                <br/>New StravistiX design
                                <br/>Bug fixes
                                <br/>
                            </div>
                        </div>
                        <div class="release">
                            <h2>
                                Version 0.2.0
                            </h2>
                            <div>
                                Add TRIMP (TRaining IMPulse) value to cycling activities. The old stress score has been removed, not relevant any more now.
                                <br/>Add Heart Rate Reserve (%HRR) value to cycling activities.
                                <br/>Add Octo zones distribution of Heart Rate Reserve (%HRR) in minutes to cycling activities.
                                <br/>"Motivation score" now become "Toughness Factor" Standard deviation bug fix of possible square root of negative variance..
                            </div>
                        </div>
                        <div class="release">
                            <h2>
                                Version 0.1.13
                            </h2>
                            <div>
                                Add standard deviation speed data for cycling activities
                                <br/>Add Cadence data for cycling activities: cadence %, cadence Time and crank revolutions. A cadence meter needed to get that
                                <br/>
                            </div>
                        </div>
                        <div class="release">
                            <h2>
                                Version 0.1.12
                            </h2>
                            <div>
                                Add Lower Quartile, Median and Upper Quartile speed data for cycling activities
                                <br/>Add helpers when click on added data in cycling activities
                                <br/>Add cache system to store analysis data in localStorage which may are long to be computed. The cache is reused when you reload an activity which has one.
                                <br/>
                            </div>
                        </div>
                        <div class="release">
                            <h2>
                                Version 0.1.11
                            </h2>
                            <div>
                                More Stable
                                <br/>Prepare future for big features...
                                <br/>
                            </div>
                        </div>
                        <div class="release">
                            <h2>
                                Version 0.1.10
                            </h2>
                            <div>
                                Add Watts/KG for cycling activities
                                <br/>Add VeloViewer Challenges Trophy Cabinet to StravistiX menu
                                <br/>
                            </div>
                        </div>
                        <div class="release">
                            <h2>
                                Version 0.1.9
                            </h2>
                            <div>
                                Bike odo on activities back
                                <br/>Weighted Power calculation adjusted for cycling activities
                                <br/>
                            </div>
                        </div>
                        <div class="release">
                            <h2>
                                Version 0.1.8
                            </h2>
                            <div>
                                Add Estimated Weighted Power for cycling activities
                                <br/>Add Estimated Variability Index for cycling activities
                                <br/>Add Estimated Punch Factor for cycling activities
                                <br/>Bug fixing
                                <br/>
                            </div>
                        </div>
                        <div class="release">
                            <h2>
                                Version 0.1.7
                            </h2>
                            <div>
                                Hide the challenges in dashboard feed
                                <br/>Hide the created routes in dashboard feed
                                <br/>Bug fixing
                                <br/>Switch app name to 'StravistiX Developper Preview'
                                <br/>
                            </div>
                        </div>
                        <div class="release">
                            <h2>
                                Version 0.1.6
                            </h2>
                            <div>
                                Add this about page
                                <br/>StravistiX placed first in header
                                <br/>Add icons in StravistiX menu
                                <br/>Remove StravistiX settings page popup when extension is updated
                                <br/>Bug fixing
                                <br/>
                            </div>
                        </div>
                        <div class="release">
                            <h2>
                                Version 0.1.5
                            </h2>
                            <div>
                                Segment Rank percentage now working on all leaderboards (Clubs, following, ...)
                                <br/>Add bike odo display or not as an option
                                <br/>Come back to Strava Classic color style
                                <br/>Add StravistiX features highlighted in bright orange as option (new miscellaneous section).
                                <br/>
                            </div>
                        </div>
                        <div class="release">
                            <h2>
                                Version 0.1.4
                            </h2>
                            <div>
                                Display bike odo on activity page
                                <br/>Bugs fixing
                                <br/>
                            </div>
                        </div>
                        <div class="release">
                            <h2>
                                Version 0.1.0 to 0.1.3
                            </h2>
                            <div>
                                Add Motivation Score for cycling activities
                                <br/>Add Stress Score for cycling activities
                                <br/>Add Move ratio for cycling activities
                                <br/>Add Segment rank percentage on full leaderboard
                                <br/>Add default leaderboard filter
                                <br/>Add Always enable Grade Adjusted Pace for running activities
                                <br/>Add Always enable heart rate for running activities
                                <br/>Add Default Google Map type in activity
                                <br/>Add links to Flyby, Veloviewer, Raceshape in activity page
                                <br/>Allow free accounts users to hide premium features
                                <br/>Add StravistiX menu
                                <br/>Add Settings page link to StravistiX menu
                                <br/>Add Global Heat Map to StravistiX menu
                                <br/>Add user veloviewer link to StravistiX menu
                                <br/>Add Kom Map link to StravistiX menu
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <h1>What's Next?</h1>
            <a href='https://twitter.com/champagnethomas' target='_blank'><span>Follow @champagnethomas on twitter</span></a>
        </div>
    </div>
</div>
