<div style="padding: 20px; text-align: center;">
You can perfom this free action to broadcast this extension :D. Its probably nothing for you but a lot to me. Thanks !!</br></br>
<a href="https://twitter.com/intent/tweet?text=As%20%23strava%20user,%20you%20should%20try%20%23stravistix%20web%20extension%20by%20%40champagnethomas.%20Get%20it%20here%20%20bitly.com/stravistix.%20%23cycling%20%23running%20%23geek" target="_blank" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-heart"></span> Please tweet about #stravistix </a>
<br />
<br />
<a href="https://www.facebook.com/stravistixforstrava" target="_blank" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-heart"></span> Facebook post sharing works also :)</a>

</div>