@import "~@angular/material/theming";

@mixin app-classes($theme) {

  // Parse the theme and create variables for each color in the palette
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  // Create theme specific styles
  .primary-color {
    color: mat-color($primary);
  }
  .accent-color {
    color: mat-color($accent);
  }
  .warn-color {
    color: mat-color($warn);
  }

  .default-contrast-color {
    color: mat-color($primary, default-contrast);
  }

  .primary {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }
  .accent {
    background-color: mat-color($accent);
    color: mat-color($accent, default-contrast);
  }
  .warn {
    background-color: mat-color($warn);
    color: mat-color($warn, default-contrast);
  }

  // Style of custom dual-split-button
  $border-color: mat-color($foreground, divider);

  .dual-split-button {
    border: 1px solid $border-color;
    border-radius: 4px;
  }

  .dual-split-button > button:first-of-type {
    border-right: 1px solid $border-color;
    border-radius: 0;
  }

}
