@import "~@angular/material/theming";
@import "themes/light";
@import "themes/dark";

// Import Mixins
@import "app-classes.theme";
@import "native-elements.theme";
@import "~src/app/app.component.theme";
@import "~src/app/fitness-trend/fitness-trend.component.theme";
@import "~src/app/sync-bar/sync-bar.component.theme";
@import "~src/app/recalculate-activities-bar/recalculate-activities-bar.component.theme";

@mixin elevate-custom-theme($theme) {
  @include app-classes($theme);
  @include native-web-elements($theme);
  @include app-theming($theme);
  @include app-sync-bar-theming($theme);
  @include app-recalculate-activities-bar-theming($theme);
  @include fitness-trend-theming($theme);
}

.light {
  @include angular-material-theme($light-theme);
  @include elevate-custom-theme($light-theme);
}

.dark {
  @include angular-material-theme($dark-theme);
  @include elevate-custom-theme($dark-theme);
}
