#init-app-container {
  height: 100%;
  background-image: linear-gradient(-225deg, #b0ffea 0%, #fff1ad 100%);
  -webkit-app-region: drag;
  $contrastColor: #2b2b2b;

  .wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform-origin: center;
  }

  .logo {
    width: 100%;
    height: 100px;
    background-color:$contrastColor;
    -webkit-mask: url("../../assets/icons/elevate.svg") no-repeat center;
    mask: url("../../assets/icons/elevate.svg") no-repeat center;
    animation: fadeAnimation 2s infinite;
    @keyframes fadeAnimation {
      0% {
        opacity: 1;
      }
      50% {
        opacity: .6;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .text {
    position: fixed;
    color: $contrastColor;
    bottom: 20px;
  }
}
