<app-desktop-top-bar></app-desktop-top-bar>
<div class="dialog">
  <h2 mat-dialog-title>Alpha closing testing version.</h2>
  <mat-dialog-content class="mat-body-1">

    This version is for alpha testers only and your "machineId" must be granted to run it. Please make sure:

    <ul>
      <li>Your network connection is operational.</li>
      <li>You have the <a href="{{releaseUrl}}">latest desktop version installed</a>.</li>
      <li>Your machineId <i>{{this.athleteMachineId}}</i> has been granted by <a href="https://twitter.com/champagnethomas">@champagnethomas</a>.</li>
    </ul>

    Or you still will get this message...

  </mat-dialog-content>
  <mat-dialog-actions>
    <button (click)="closeApp()" color="primary" mat-stroked-button>Close application</button>
  </mat-dialog-actions>
</div>

