<mat-card class="centered-section">
  <mat-card-title class="mat-headline">
    Desktop version of Elevate is now available as public BETA 🥳 !!
  </mat-card-title>
  <mat-card-content>
    <div class="pad-std-bt">
      <strong>The desktop app is most advanced version of Elevate. Try it !</strong>
    </div>
    <div class="pad-std-bt">
      <button (click)="onWindowsDownload()" color="primary" mat-stroked-button>
        Download for Windows
      </button>
    </div>
    <div class="pad-std-bt">
      <button (click)="onMacDownload()" color="primary" mat-stroked-button>
        Download for macOS
      </button>
    </div>
    <div class="pad-std-bt">
      <button mat-flat-button color="primary" (click)="onDonateClicked()">
        Support the project 😊 ❤️
      </button>
    </div>
  </mat-card-content>
</mat-card>
