<mat-card class="centered-section">
  <mat-card-title class="mat-headline">
    Push this project higher!
  </mat-card-title>
  <mat-card-subtitle class="mat-title">
    Yes you can!
  </mat-card-subtitle>
  <mat-card-content>
    <div>
      Elevate is an open-source project developed on free time.
    </div>
    <div>
      Every donations help this project to grow up with new features and keep motivation on top!
    </div>
    <div>
      If you use Elevate to track your workouts and fitness on a regular basis, you know what to do 😊...
    </div>
    <div>
      Doing the best with passion! Waiting for your help!
    </div>
    <div>
      <button (click)="onDonateClicked()" color="primary" mat-stroked-button>
        <mat-icon fontSet="material-icons-outlined">favorite_border</mat-icon>
        Donate with Paypal
      </button>
    </div>
  </mat-card-content>
</mat-card>
