<h2 *ngIf="dialogData.title" mat-dialog-title [innerHtml]="htmlTitle"></h2>
<mat-dialog-content [innerHtml]="htmlContent" class="mat-body-1"></mat-dialog-content>
<mat-dialog-actions>
  <button *ngIf="dialogData.cancelText !== false" (click)="onCancel()" color="primary" mat-dialog-close
          mat-stroked-button>
    {{(dialogData.cancelText) ? dialogData.cancelText : "Cancel"}}
  </button>
  <span fxFlex="1"></span>
  <button *ngIf="dialogData.confirmText !== false" (click)="onConfirm()" [color]="dialogData.confirmColor || 'primary'" mat-dialog-close
          mat-stroked-button [disabled]="dialogData.confirmTimeout > 0 && (confirmCountdown$ | async) > 0">
    {{(dialogData.confirmText) ? dialogData.confirmText : "Confirm"}}
    <span *ngIf="dialogData.confirmTimeout > 0 && (confirmCountdown$ | async) > 0">
      ({{confirmCountdown$ | async | number:'2.0'}})
    </span>
  </button>
</mat-dialog-actions>
