<div id="init-app-container" *ngIf="!isAppUseAllowed">
	<div class="wrapper">
		<div class="logo"></div>
		<div class="text mat-body-1">
			<div>Warming up</div>
		</div>
	</div>
</div>
<div id="app-container" class="mat-body-1" #appContainer [fxHide]="!isAppUseAllowed">
	<ng-container appTopBar></ng-container>
	<mat-sidenav-container>
		<mat-sidenav #sidenav
					 mode="side"
					 (opened)="onSideNavOpened()"
					 (closed)="onSideNavClosed()">
			<mat-nav-list>
				<mat-list-item *ngFor="let item of mainMenuItems" routerLink="/{{item.routerLink}}"
							   routerLinkActive="{{item.routerLinkActive}}">
					<mat-icon>{{item.icon}}</mat-icon>
					<span class="mat-body-1">{{item.name}}</span>
				</mat-list-item>
				<mat-list-item *ngIf="(envTarget === EnvTarget.DESKTOP)" routerLink="/connectors">
					<mat-icon>power</mat-icon>
					<span class="mat-body-1">Connectors</span>
				</mat-list-item>
				<mat-list-item *ngIf="(envTarget === EnvTarget.EXTENSION)"
							   (click)="onOpenLink('https://www.strava.com/dashboard')">
					<mat-icon svgIcon="strava"></mat-icon>
					<span class="mat-body-1">Strava Dashboard</span>
				</mat-list-item>
				<mat-list-item routerLink="/donate">
					<mat-icon>favorite</mat-icon>
					<span class="mat-body-1">Donate</span>
				</mat-list-item>
			</mat-nav-list>

			<div id="logo"></div>

		</mat-sidenav>

		<mat-toolbar>

			<button mat-icon-button id="toolBarMenu" (click)="onSideNavToggle()">
				<mat-icon>menu</mat-icon>
			</button>

			<span>{{toolBarTitle}}</span>

			<span class="toolbar-spacer"></span>

			<ng-container appSyncMenu></ng-container>

			<button mat-icon-button (click)="onThemeToggle()">
				<mat-icon *ngIf="currentTheme === Theme.LIGHT"
						  style="transform: rotate(-35deg) scaleX(-1);">
					brightness_3 <!--Moon icon rotate by -35deg-->
				</mat-icon>
				<mat-icon *ngIf="currentTheme === Theme.DARK">wb_sunny</mat-icon><!--Sun icon-->
			</button>

			<button mat-icon-button [matMenuTriggerFor]="moreMenu">
				<mat-icon>more_vert</mat-icon>
			</button>

			<mat-menu #moreMenu="matMenu">

				<button mat-menu-item
						(click)="onOpenLink('https://twitter.com/champagnethomas')">
					<mat-icon>announcement</mat-icon>
					App updates
				</button>

				<button mat-menu-item (click)="onShowReleaseNotes()">
					<mat-icon>system_update</mat-icon>
					Release notes
				</button>

				<button mat-menu-item (click)="onShowShare()">
					<mat-icon>share</mat-icon>
					Share plugin
				</button>

				<button mat-menu-item (click)="onOpenLink('https://www.strava.com/clubs/elevatestrava')">
					<mat-icon>group</mat-icon>
					Strava Club
				</button>

				<button mat-menu-item (click)="onOpenLink('https://thomaschampagne.github.io/elevate/')">
					<mat-icon>public</mat-icon>
					Plugin page
				</button>

				<button mat-menu-item (click)="onShowReport()">
					<mat-icon>bug_report</mat-icon>
					Report a bug
				</button>

				<button mat-menu-item (click)="onShowFaq()">
					<mat-icon>help</mat-icon>
					FAQ
				</button>
				<button mat-menu-item (click)="onAdvanceMenu()">
					<mat-icon>build</mat-icon>
					Advanced
				</button>
				<button mat-menu-item (click)="onShowAbout()">
					<mat-icon>info</mat-icon>
					About
				</button>
			</mat-menu>
		</mat-toolbar>
		<div>
			<ng-container appSyncBar></ng-container>
			<app-athlete-settings-consistency-ribbon></app-athlete-settings-consistency-ribbon>
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-container>
</div>
