#init-app-container {

	height: 100%;
	background: #d3d3d3;
	-webkit-app-region: drag;

	.wrapper {
		display: flex;
		height: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transform-origin: center;
	}

	.logo {
		width: 100%;
		height: 100px;
		background-color: black;
		-webkit-mask: url("../assets/icons/elevate.svg") no-repeat center;
		mask: url("../assets/icons/elevate.svg") no-repeat center;
		animation: fadeAnimation 2s infinite;
		@keyframes fadeAnimation {
			0% {
				opacity: 1;
			}
			50% {
				opacity: .3;
			}
			100% {
				opacity: 1;
			}
		}
	}

	.text {
		position: fixed;
		bottom: 20px;
	}
}

#app-container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

mat-sidenav {
	width: 200px;
}

mat-sidenav mat-icon {
	margin-right: 12px;
}

.toolbar-spacer {
	flex: 1 1 auto;
}
