<div class="changelog">
    <div class="release">
        <h2>
                    Version 0.3.8
                </h2>
        <div>
            Fix nearby segment icons away
        </div>
        <div class="release">
            <h2>
                    Version 0.3.7
                </h2>
            <div>
                Add nearby cycling+running segments added on segment page
                <br/>Add average pace in cycling activities
                <br/>Add lower quartile power, median power and upper quartile power in cycling activities
                <br/>Fixed: Unable to see StravaPlus icon menu when highlight option is on.
            </div>
            <div class="release">
                <h2>
                    Version 0.3.6
                </h2>
                <div>
                    Cadence/Pedaling extended data is now computed while moving.
                    <br/>Fix wrong "Normalized Power" for riders with power meter.
                    <br/>Others minor bug fixes
                </div>
            </div>
            <div class="release">
                <h2>
                    Version 0.3.2 to 0.3.5
                </h2>
                <div>
                    Fixed display text glitches on some pages
                    <br/>StravaPlus menu icon orange
                    <br/>Others minor bug fixes
                </div>
            </div>
            <div class="release">
                <h2>
                    Version 0.3.1
                </h2>
                <div>
                    Big changes in extension core: Ext recoded from scratch in order to fix memory leaks from v0.2.0 and make new evolutions easier
                    <br/>Bike activities extended data new look. Possibility to get the activity extended data panel hidden on load
                    <br/>Cache management of bike Odo for bike activities, force refresh possible
                    <br/>Fixing hide challenges and new routes which broken in new Strava.com update
                    <br/>New StravaPlus design
                    <br/>Bug fixes
                    <br/>
                </div>
            </div>
            <div class="release">
                <h2>
                    Version 0.2.0
                </h2>
                <div>
                    Add TRIMP (TRaining IMPulse) value to cycling activities. The old stress score has been removed, not relevant any more now.
                    <br/>Add Heart Rate Reserve (%HRR) value to cycling activities.
                    <br/>Add Octo zones distribution of Heart Rate Reserve (%HRR) in minutes to cycling activities.
                    <br/>"Motivation score" now become "Toughness Factor" Standard deviation bug fix of possible square root of negative variance..
                </div>
            </div>
            <div class="release">
                <h2>
                    Version 0.1.13
                </h2>
                <div>
                    Add standard deviation speed data for cycling activities
                    <br/>Add Pedaling data for cycling activities: pedaling %, pedaling Time and crank revolutions. A cadence meter needed to get that
                    <br/>
                </div>
            </div>
            <div class="release">
                <h2>
                    Version 0.1.12
                </h2>
                <div>
                    Add Lower Quartile, Median and Upper Quartile speed data for cycling activities
                    <br/>Add helpers when click on added data in cycling activities
                    <br/>Add cache system to store analysis data in localStorage which may are long to be computed. The cache is reused when you reload an activity which has one.
                    <br/>
                </div>
            </div>
            <div class="release">
                <h2>
                    Version 0.1.11
                </h2>
                <div>
                    More Stable
                    <br/>Prepare future for big features...
                    <br/>
                </div>
            </div>
            <div class="release">
                <h2>
                    Version 0.1.10
                </h2>
                <div>
                    Add Watts/KG for cycling activities
                    <br/>Add VeloViewer Challenges Trophy Cabinet to StravaPlus menu
                    <br/>
                </div>
            </div>
            <div class="release">
                <h2>
                    Version 0.1.9
                </h2>
                <div>
                    Bike odo on activities back
                    <br/>Normalized Power calculation adjusted for cycling activities
                    <br/>
                </div>
            </div>
            <div class="release">
                <h2>
                    Version 0.1.8
                </h2>
                <div>
                    Add Estimated Normalized Power for cycling activities
                    <br/>Add Estimated Variability Index for cycling activities
                    <br/>Add Estimated Intensity Factor for cycling activities
                    <br/>Bug fixing
                    <br/>
                </div>
            </div>
            <div class="release">
                <h2>
                    Version 0.1.7
                </h2>
                <div>
                    Hide the challenges in dashboard feed
                    <br/>Hide the created routes in dashboard feed
                    <br/>Bug fixing
                    <br/>Switch app name to 'StravaPlus Developper Preview'
                    <br/>
                </div>
            </div>
            <div class="release">
                <h2>
                    Version 0.1.6
                </h2>
                <div>
                    Add this about page
                    <br/>StravaPlus placed first in header
                    <br/>Add icons in StravaPlus menu
                    <br/>Remove StravaPlus settings page popup when extension is updated
                    <br/>Bug fixing
                    <br/>
                </div>
            </div>

            <div class="release">
                <h2>
                    Version 0.1.5
                </h2>
                <div>
                    Segment Rank percentage now working on all leaderboards (Clubs, following, ...)
                    <br/>Add bike odo display or not as an option
                    <br/>Come back to Strava Classic color style
                    <br/>Add StravaPlus features highlighted in bright orange as option (new miscellaneous section).
                    <br/>
                </div>
            </div>
            <div class="release">
                <h2>
                    Version 0.1.4
                </h2>
                <div>
                    Display bike odo on activity page
                    <br/>Bugs fixing
                    <br/>
                </div>
            </div>
            <div class="release">
                <h2>
                    Version 0.1.0 to 0.1.3
                </h2>
                <div>

                    Add Motivation Score for cycling activities
                    <br/>Add Stress Score for cycling activities
                    <br/>Add Move ratio for cycling activities
                    <br/>Add Segment rank percentage on full leaderboard
                    <br/>Add default leaderboard filter
                    <br/>Add Always enable Grade Adjusted Pace for running activities
                    <br/>Add Always enable heart rate for running activities
                    <br/>Add Default Google Map type in activity
                    <br/>Add links to Flyby, Veloviewer, Raceshape in activity page
                    <br/>Allow free accounts users to hide premium features
                    <br/>Add StravaPlus menu
                    <br/>Add Settings page link to StravaPlus menu
                    <br/>Add Global Heat Map to StravaPlus menu
                    <br/>Add user veloviewer link to StravaPlus menu
                    <br/>Add Kom Map link to StravaPlus menu
                    <br/>

                </div>
            </div>
        </div>
    </div>
