<div class="donate" id="donate">
    <div>
        <div class="pushHigher">
            push this project higher !!!
        </div>
        <div class="makeDonation">
            Make a donation <i class="outsideIconsColor fa fa-heart" /> <i class="outsideIconsColor fa fa-heart" /> <i class="outsideIconsColor fa fa-heart" />
        </div>
    </div>
    <div class="paypalForm">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <div class="chooseCurrency">
                Choose currency
            </div>
            <div>
                <select class="input-lg" data-ng-model="currency" data-ng-options="currency.cur for currency in currenciesList" data-ng-change="toggleChangeCur(currency)"></select>
            </div>
            <div>
                <input type="hidden" name="cmd" value="_s-xclick" />
                <input type="hidden" name="hosted_button_id" ng-value="currency.paypalButtonId" />
                <br/>
                <div class="logoPaypal">
                    <button type="submit" class="submitPaypalButton">
                        <strong>Donate via</strong>
                        <i class="fa fa-paypal fa-2x"></i>
                        <strong>paypal</strong>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
