@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
body {
    color: #ccc;
    width: 850px;
    margin: 0 auto;
    font-size: 12px;
    font-family: "Lucida Grande", Lucida, Arial, sans-serif;
    padding-bottom: 40px;
    background-image: url('../img/noise_bg.png');
    background-repeat: repeat;
}
header {
    text-align: center;
    padding: 20px;
    font-size: 52px;
    color: white;
   font-family: 'Open Sans Condensed', sans-serif;
}
footer {
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    font-family: "Lucida Grande", Lucida, Arial, sans-serif;
    text-decoration: none;
    color: white;
}
h2 {
    color: black;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
}
.tableOption a {
    font-size: 16px;
    font-family: "Lucida Grande", Lucida, Arial, sans-serif;
    text-decoration: none;
    vertical-align: bottom;
    border-bottom: dashed 1px white;
    color: white;
    float: left;
}
footer a {
    text-decoration: none;
    color: white;
    border-bottom: dashed 1px white;
}
select {
    padding: 3px;
    /*margin-bottom: 20px;*/
    width: 100%;
}
section {
    min-height: 80px;
    /*border-top: 1px solid #ff8d5d;*/
    clear: both;
    padding-top: 0px;
    padding-bottom: 0px;
}
.content {
    padding-left: 60px;
    background-color: transparent;
}
.content .tableOption {
    text-align: center;
}
ul {
    float: right;
    width: 430px;
    line-height: 40px;
    list-style-type: none;
}
li.tipData {
    line-height: 1.1em;
    color: #ccc;
    display: none;
}
li img {
    padding-top: 15px;
}
.tableOption {
    padding-left: 5%;
    width: 100%;
}
.tableOption td {
    width: 50%;
}
#userDatatable {
    color: white;
    padding-left: 5%;
    width: 100%;
}
#userDatatable td {
    /*vertical-align: top;*/
    width: 33%;
}
input[type=text] {
    color: white;
    font-size: 22px;
    background-color: transparent;
    outline: none;
    border: 0;
    text-align: center;
    border-bottom: 1px solid white;
}
input[type=text]:focus {
    outline: none;
    border: 0;
    border-bottom: 1px solid white;
}
.white-popup {
    position: relative;
    background: #FFF;
    padding: 30px;
    padding-top: 40px;
    width: auto;
    max-width: 850px;
    margin: 20px auto;
    color: #666;
    font-size: 16px;
}
.white-popup-title {
    font-size: 24px;
    margin-top: -25px;
    margin-bottom: 15px;
    color: #fc4c02;
}
.mfp-with-zoom .mfp-container, .mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}
.mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}
