<mat-dialog-content>

	<div class="actions" fxLayoutAlign="center center">
		<button fxFlex="50" *ngIf="(data.action === DatedAthleteSettingsAction.ACTION_ADD)" mat-stroked-button
				color="primary" (click)="onConfirm()">Add
		</button>
		<button fxFlex="50" *ngIf="(data.action === DatedAthleteSettingsAction.ACTION_EDIT)" mat-stroked-button
				color="primary" (click)="onConfirm()">Confirm changes
		</button>
		<span fxFlex="1"></span>
		<button fxFlex="50" mat-stroked-button color="primary" (click)="onCancel()">Cancel
		</button>
	</div>

	<mat-card>
		<mat-card-content>
			<mat-form-field fxFill>
				<input matInput
					   [disabled]="(datedAthleteSettingsModel.isForever())"
					   [(ngModel)]="sinceDate"
					   [matDatepicker]="datePickerSince"
					   (dateChange)="onDateChange()"
					   placeholder="{{(datedAthleteSettingsModel.isForever()) ?  'Athlete settings since forever' : 'Athlete settings since'}}">
				<mat-datepicker-toggle matSuffix [for]="datePickerSince"></mat-datepicker-toggle>
				<mat-datepicker #datePickerSince></mat-datepicker>
			</mat-form-field>
		</mat-card-content>

	</mat-card>

	<app-athlete-settings-form *ngIf="datedAthleteSettingsModel"
							   [athleteSettingsModel]="datedAthleteSettingsModel"
							   (athleteSettingsModelChange)="onAthleteSettingsModelChanged($event)"></app-athlete-settings-form>

	<div class="actions" fxLayoutAlign="center center">
		<button fxFlex="50" *ngIf="(data.action === DatedAthleteSettingsAction.ACTION_ADD)" mat-stroked-button
				color="primary" (click)="onConfirm()">Add
		</button>
		<button fxFlex="50" *ngIf="(data.action === DatedAthleteSettingsAction.ACTION_EDIT)" mat-stroked-button
				color="primary" (click)="onConfirm()">Confirm changes
		</button>
		<span fxFlex="1"></span>
		<button fxFlex="50" mat-stroked-button color="primary" (click)="onCancel()">Cancel
		</button>
	</div>

</mat-dialog-content>

