@import "../styles/constant";

mat-expansion-panel {
  margin: $default-margin;
}

mat-panel-title {
  margin-top: 25px;
}

.search, .improve-helper {
  margin: $default-margin;
}

.view-online {
  text-align: center;
}
