<md-dialog flex="50">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Share to your sports mates !</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" layout-padding>
            <div>
                Sharing this extension is probably nothing for you but a lot to me. You can perfom this free action to broadcast this work :D. Thanks to you !!
            </div>
            <div style="text-align:center">
                <md-button class="md-primary md-cornered" ng-click="shareTwitter()">Tweet #stravistix</md-button>
            </div>
            <div style="text-align:center">
                <md-button class="md-primary md-cornered" ng-click="shareFacebook()">Facebook page sharing</md-button>
            </div>
            <div style="text-align:center">
                <md-button class="md-primary md-cornered" ng-click="shareDirect()">Link to plugin page (for emails, ...)</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
